.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

/*
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
*/

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* INDEX */

section.masthead {
	text-align: center;
}

section.masthead .site-title {
	display: inline;
	padding: .2em 1em;
	
	border: 1px solid $color__link;
	border-radius: 4px;
}

section.feed article {
	background-color: white;
}

section.feed img {
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

section.feed .entry-header {
	text-align: center;
}

@media (min-width: $size__tablet) {
	section.masthead {
		text-align: left;
	}	
}

/* ARTICLE */

main.single .entry-header {
	text-align: center;
}
