/* Navigation
--------------------------------------------- */
@import "navigation/navigation";

/* Posts and pages
--------------------------------------------- */
@import "content/posts-and-pages";

/* Comments
--------------------------------------------- */
@import "comments/comments";

/* Widgets
--------------------------------------------- */
@import "widgets/widgets";

/* Media
--------------------------------------------- */
@import "media/media";

/* Captions
--------------------------------------------- */
@import "media/captions";

/* Galleries
--------------------------------------------- */
@import "media/galleries";

/* Header and footer
--------------------------------------------- */

header.site-header {
	position: sticky;
	top: 0;
	height: 3em; /* CONSIDER ADJUSTING */
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: black;
}

header .custom-logo, header .custom-logo-link {
	height: 100%;
	width: auto;
}
